<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>iBudget</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/0edefc6157.js" crossorigin="anonymous"></script>
  <script src="/jquery/jquery.js"></script>
  <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="/data.js"></script>

  <!-- <script type="text/javascript" src="/js/jquery.formatCurrency-1.4.0.js"></script> -->

  <script type="text/javascript">
    //   $(document).ready(function() {
    //
    //
    //
    // });

    function dothat(el) {
      el.children[0].children[0].style.visibility = "hidden";
    };

    function dosomething(el) {
      el.children[0].children[0].style.visibility = "visible";
    };

    function clickItem(el) {
      //Remove the my-list--selected class from any elements that already have it
      // $('.item--selected').removeClass('item--selected');
      // //Add the my-list--selected class to the clicked element
      // $(el).addClass('item--selected');
      // $('.Transactions-List').css("display", "flex");
      // $('.Budget-List-Item').css("display", "flex");
      //
      // $('#myChart').css("display", "none");
      // document.getElementById("myChart").style.display = "none";
    };
  </script>

  <link rel="stylesheet" href="css/budgetstyles.css">
</head>

<body>

  <div class="row">

    <div class="col-lg-1" style="background-color: white">

      <div id="leftNav" class="leftnav" style="width: 0px;">
        <ul>
          <li><a href="/insights"><i class="fas fa-chart-pie"></i> Insights</a></li>
          <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
        </ul>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="far fa-window-close"></i></a>
      </div>

      <!-- Use any element to open the sidenav -->
      <span class="openbtn" onclick="openNav()"><i class="fas fa-bars"></i></span>

    </div>

    <div class="col-lg-6">
      <div class="monthHeader">
        <p>
          <!-- button for current month's budget -->
          <button id="monthPicker" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <%=budget.month%>
          </button>

          <!-- <span id="leftToBudget" data-value=""></span><span id="leftToBudgetText"></span> -->
        </p>
        </p>
        <span id="leftToBudget" data-value="" data-index=""></span><span id="leftToBudgetText"></span>

        </p>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <!-- <div class="card card-body-prev"></div> -->

            <!-- loop through and create buttons for each month for two years -->
            <% months.forEach(function(month, index) { %>
            <form class="switchmonth" action="/switchmonth" method="post">
              <p>
                <% if(month.monthString == budget.month ){ %>
                <button class="btn btn--current" type="submit" name="button" value="<%= month.month %>" data-index="<%= index %>" data-length="<%= months.length %>" data-name="<%= month.monthString %>" data-year="<%= month.year %>"> <%= month.monthString.substring(0,3) + " " + month.year %></button>
                <% } else if(month.active == true){ %>
                <button class="btn btn--exists" type="submit" name="button" value="<%= month.month %>" data-name="<%= month.monthString %>" data-year="<%= month.year %>"><%= month.monthString.substring(0,3) + " " + month.year %></button>
                <% } else { %>
                <button class="btn btn--month" type="submit" name="button" value="<%= month.month %>" data-name="<%= month.monthString %>" data-year="<%= month.year %>"><%= month.monthString.substring(0,3) + " " + month.year %></button>
                <% } %>
                <!-- <button class="btn btn-primary" type="submit" name="button" value="<%= month.month %>"><%= month.monthString %></button> -->
                <input type="hidden" name="year" value="<%= month.year %>">
                <input type="hidden" name="monthString" value="<%= month.monthString %>">
              </p>
            </form>
            <% }); %>

            <!-- <div class="card card-body-next"></div> -->
          </div>
        </div>
        <!-- <hr> -->
      </div>

      <div class="Budget-Main">

        <!-- <hr> -->

        <!-- loop through the budget building category boxes -->
        <% budget.category.forEach(function(category, index) { %>

        <div class="container Budget-Container" data-cat-name="<%= category.name %>" data-cat="<%= index %>">
          <% if (!category.name) { %>
          <!-- if this is a new category and the name is blank, make the name an input so it can be edited -->
          <header class="Category-Header">
            <!-- <div class="itemHeader"> -->
            <button type="button" class="btndelHidden" name="button"><i class="far fa-trash-alt"></i></button>
            <input class="cat-label" type="text" name="catName" value="" placeholder="Untitled"></input>
            <span class="Header-Right">Planned</span>
            <span class="Header-Right">Remaining <button class="fas fa-angle-down" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item active">Remaining</a></li>
                <li><a class="dropdown-item">Spent</a></li>
              </ul>
            </span>

            <!-- </div> -->
          </header>
          <% } else if (category.name === "Income") { %>
          <!-- if the category is Income, make it say Received -->
          <!-- <div class="itemHeader"> -->
          <header class="Category-Header">
            <button type="button" class="btndelHidden" name="button"><i class="far fa-trash-alt"></i></button>
            <span class="Header-Left"><%= category.name %></span>
            <span class="Header-Right">Planned</span>
            <span class="Header-Right">Received <i class="fas fa-angle-down"></i></span>

          </header>
          <!-- </div> -->
          <% } else { %>
          <!-- otherwise make it say Remaining -->
          <!-- <div class="itemHeader"> -->
          <header class="Category-Header">
            <button type="button" class="btndelHidden" name="button"><i class="far fa-trash-alt"></i></button>
            <span class="Header-Left"><%= category.name %></span>
            <span class="Header-Right">Planned</span>
            <div class="Header-Right"><span>Remaining </span><button class="fas fa-angle-down" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item active">Remaining</a></li>
                <li><a class="dropdown-item">Spent</a></li>
              </ul>
            </div>
          </header>

          <!-- </div> -->
          <% } %>

          <!-- Loop through each budget item in the category -->
          <% category.items.forEach(function(item, itemIndex) { %>

          <div class="Budget-Row" onmouseover="dosomething(this)" onmouseout="dothat(this)" onclick="clickItem(this)" data-item="<%= itemIndex %>" data-fund="<%= item.fund %>" data-balance="<%= item.startingBalance %>">

            <button type="button" class="btndel" name="button"><i class="far fa-trash-alt"></i></button>
            <% if (item.fund == true) { %>
              <i class="fas fa-piggy-bank" style="font-size: 1.4rem; color: #0091d9; width: 5%; align-self: center;" aria-hidden="true"></i>
              <input class="Input-Name" style="width: 45%" type="text" name="itemName" value="<%= item.name %>" placeholder="Enter a name"></input>
            <% } else { %>
              <input class="Input-Name" type="text" name="itemName" value="<%= item.name %>" placeholder="Enter a name"></input>
            <% } %>
            <input class="Input-Planned" type="text" name="planned" data-value="<%= item.planned %>" value="$<%= item.planned %>" onclick="this.select()"></input>
            <span class="Budget-Row-Remaining" data-value="<%= (item.planned - item.sumOfTransactions).toFixed(2) %>"><%= (item.planned - item.sumOfTransactions).toFixed(2) %></span>

          </div>
          <div class="progress Budget-Row-Progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <% }) %>
          <!-- add item button -->
          <div class="itemButton" data-cat="<%= index %>">
            <button class="addItem" type="button" name="button">Add Item</button>
            <span id="sumOfIncome" data-value=""></span>
          </div>

        </div>
        <!-- end of loop to make each budget category container -->
        <% }); %>

        <!-- add category button -->
        <div class="container Category-Button">
          <button class="addCat" type="button" name="button" value="">Add Category</button>
        </div>

        <div class="container Delete-Budget">
          <button id="deleteBudget" class="" style="color: red" type="button"><i class="fas fa-minus-circle"></i> Delete Budget</button>
        </div>

        <!-- <div class="container Copy-Month-Container">
          <span>You need a budget for May</span>
          <span>We'll copy your budget from April to get you started!</span>
          <p></p>
          <button id="switchMonthButton" class="btn btn-primary" type="button">Start Planning for May</button>
        </div> -->

      </div>
    </div> <!-- end of middle column -->

    <!-- right column -->
    <div class="col-lg-5">
      <!-- <button type="button" name="button" class="addTransaction"><i class="fas fa-plus" style="color: green; font-size: 3em"></i></button> -->

      <!-- <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="480" height="360" src=""></iframe> -->
      <!-- src="https://charts.mongodb.com/charts-ibudget-zqzdh/embed/charts?id=df5582b5-8d8d-45a9-9817-80e7ed5de323&theme=light&autoRefresh=true&maxDataAge=30" -->
      <!-- <div id="chart"></div>
      <script>
      async function renderChart() {
      const sdk = new ChartsEmbedSDK({
        baseUrl: 'https://charts.mongodb.com/charts-ibudget-zqzdh'
      });

      const chart = sdk.createChart({
        chartId: "df5582b5-8d8d-45a9-9817-80e7ed5de323",
        height: 360,
        width: 480,
        // filter: {"_id" : "603147da03500263ac2d5046" }
      });


      await chart.render(document.getElementById('chart'));
      // await chart.setFilter({"_id":"603147da03500263ac2d5046"});


      $(document).on('click', '.addItem', async function() {
        const myObject = {"_id": stringify('603146b3cfa6ac5bf8ccfa28')};
        await chart.setFilter(myObject);

      })

    }
    renderChart();

      </script> -->
      <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="transactionModalLabel">Add Transaction</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form id="transactionForm" class="row">
                <div class="transactionModalInput col-12 my-2">
                  <input type="text" name="modalAmt" placeholder="$0.00" id="transactionModalAmt" data-value="" class="form-control" autofocus required >
                </div>
                <div class="col-4 my-2">
                  <input type="date" name="modalDate" value="" id="transactionModalDate" class="transactionModalInput form-control">
                </div>
                <div class="col-8 my-2">
                  <input type="text" name="modalMerchant" value="Church" placeholder="" id="transactionModalMerchant" class="transactionModalInput form-control" onclick="this.select()">
                </div>
                <div class="col-12 my-2" id="modalRemoveItem">
                  <i class="fas fa-minus-circle" style="color: red"></i><span id="modalItem" class="" name="modalItem"></span>
                </div>
                <div class="col-12 my-2" id="modalItemDropdown" style="display: none">
                  <select id="modalItemSelect" class="transactionModalInput form-control form-select">

                  </select>
                </div>
                <div class="col-12 my-2">
                  <label class="form-label">Note</label>
                  <textarea name="modalNotes" placeholder="Note" id="transactionModalNote" class="transactionModalInput form-control"></textarea>
                </div>


                <!--vaidation?-->
                <!--calendar default to "today"-->
                <!--option for the transactionModalItem is depending on the item in the main screen (backend)-->
            </div>
            <div class="modal-footer">
              <div class="modalFooterContent">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="transactionModalSave" class="btn btn-primary">Save transaction</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- *****************************************Edit/Delete Transaction Modal*************************************************** -->
      <div class="modal fade" id="transactionEditModal" data-index="" tabindex="-1" aria-labelledby="transactionEditModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="transactionEditModalLabel">Edit Transaction</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form id="transactionEditForm" class="row">
                <div class="transactionModalInput col-12 my-2">
                  <input type="text" name="modalAmt" placeholder="$0.00" id="transactionEditModalAmt" data-value="" class="form-control" onclick="this.select()" required>
                </div>
                <div class="col-4 my-2">
                  <input type="date" name="modalDate" value="" id="transactionEditModalDate" class="transactionModalInput form-control">
                </div>
                <div class="col-8 my-2">
                  <input type="text" name="modalMerchant" value="Church" placeholder="" id="transactionEditModalMerchant" class="transactionModalInput form-control" onclick="this.select()">
                </div>
                <div class="col-12 my-2" id="modalEditRemoveItem">
                  <i class="fas fa-minus-circle" style="color: red"></i><span id="modalEditItem" class="" name="modalItem"></span>
                </div>
                <div class="col-12 my-2" id="modalEditItemDropdown" style="display: none">
                  <select id="modalEditItemSelect" class="transactionModalInput form-control form-select">

                  </select>
                </div>
                <div class="col-12 my-2">
                  <label class="form-label">Note</label>
                  <textarea name="modalNotes" placeholder="Note" id="transactionEditModalNote" class="transactionModalInput form-control"></textarea>
                </div>

            </div>
            <div class="modal-footer">
              <div class="modalFooterContent">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="transactionModalEdit" class="btn btn-primary">Save transaction</button>
                <button type="button" id="transactionModalDelete" class="btn btn-danger">Delete transaction</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- *****************************************Plaid Account Modal*************************************************** -->

      <div class="modal fade" id="PlaidAccountModal" tabindex="-1" aria-labelledby="PlaidAccountModal" aria-hidden="true">

        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Plaid Accounts</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="PlaidAccountModalBody" class="modal-body PlaidAccountBody">
              <!-- <div class="col-3 my-2"> -->
              <!-- <div class="PlaidAccountRow">
              <button type="button" data-bs-toggle="collapse" data-bs-target="#PlaidAccountCollapse" aria-expanded="false" aria-controls="PlaidAccountCollapse"><span class='PlaidAccountName'>Plaid Savings <i class="fas fa-angle-down"></i></span></button>

              <span class='PlaidAccountBalance'>$100.00</span>
            </div>
            <div class="collapse" id="PlaidAccountCollapse">
              <button type="button">Delete this account</button>
            </div> -->
              <!-- </div> -->
              <!-- <div class="col-12 my-2"> -->
              <hr style="color: #0091d9; width: 100%; height: 2px"></hr>
              <div class="PlaidAccountRow">
                <button id="addPlaidAccount">Add Plaid Account</button>
              </div>
              <!-- </div> -->
            </div>
            <div class="modal-footer">
              <div class="modalFooterContent">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>


      <div class='RightHeader'>
        <button id='Accounts' data-bs-toggle="modal" data-bs-target="#PlaidAccountModal"><i class="fas fa-piggy-bank" style="font-size: 3rem; color: green"></i></button>
        <div class="PlaidTransactionBox">
          <div class="PlaidTransactionIcon">
            <button id='PlaidTransactions'><i class="fas fa-credit-card" style="font-size: 3rem; color: green"></i></button>

            <span class="countTransactions"></span>

          </div>
        </div>

      </div>

      <div class="chart-container">
        <canvas id="myChart" width="480px" height="360px"></canvas>
        <div class="donut-inner">
          <span>Income</span>
          <h5></h5>
        </div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Planned</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Spent</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Remaining</label>
        </div>
      </div>

      <div class='Budget-List-Container'>
        <div class="Budget-List-Item">
          <button id='closeBudgetListItem' style='padding: 0'><i class="far fa-times-circle"></i></button>
          <div class="Budget-List-Item-Row">
            <span id="catName" class="">Housing</span><span class="">Remaining</span>
          </div>
          <div class="Budget-List-Item-Row">
            <span id="itemName">Mortgage</span><span id="remaining">$1,300.00</span>
          </div>

          <div class="progress Budget-List-Item-Progress">
            <div class="progress-bar bg-success" id="budgetSideBarProgress" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="Budget-List-Item-Row">
            <div><span id="spent" data-value=''>$0.00</span><span> spent</span></div>
          </div>
          <div class="Budget-List-Item-Row">
            <span id="lastMonth">Last Month</span><span id="last-Month-Val"></span>
          </div>
          <div class="Budget-List-Item-Row">
            <span id="lastYear">Last <%=budget.month.split(" ",1)%></span><span id="last-Year-Val"></span>
          </div>
          <div class="Budget-List-Item-Row dueDate">
            <span id="dueDate">Set Due Date</span><i class="fas fa-angle-down"></i>
          </div>
          <div class="Budget-List-Item-Row fund" data-bs-toggle="collapse" data-bs-target="#fund" aria-expanded="false" aria-controls="fund">

            <button id="makeFund">
              <i class="fas fa-piggy-bank" style="font-size: 1.4rem; color: #0091d9; margin-right: 5px"></i><span style="color: #0091d9">Make this a fund</span>
            </button>
            <i class="fas fa-angle-down"></i>

          </div>

          <div class="collapse fundCollapse" id="fund">
            <span>Funds carry balances month to month, letting you save toward a goal over time.</span>
            <button id="makeThisAFund" class="btn btn-primary" style="margin-top: 10px">Make this a Fund</button>
            <!-- <div class="Budget-List-Item-Row">
              <span id='startBalSpan'>Starting Balance</span>

              <input type="text" placeholder="$0.00" value="" data-value="" id="startBalInput" onclick="this.select()">

            </div>
            <div class="Budget-List-Item-Row">
              <span id='fundPlanned'>Planned This Month</span>
              <span id='fundPlannedAmt' data-value="1000.55">$1,000.00</span>
            </div>
            <div class="Budget-List-Item-Row">
              <span id='fundSpent'>Spent This Month</span>
              <span id='fundSpentAmt' data-value="500.00">$0.00</span>
            </div>
            <hr>
            <div class="Budget-List-Item-Row" style="justify-content: flex-end;">
              <span id='fundBalance' data-value=''>$1,000.00</span>
            </div>
            <hr>
            <div class="Budget-List-Item-Row">
              <span id='fundGoal'>Savings Goal</span>
              <input type="text" placeholder="$0.00" data-value="" id="fundGoalInput" onclick="this.select()">
            </div> -->

          </div>

          <div class="Budget-List-Item-Row">
            <button id="setPlannedOnBudget" style="padding: 0"><i class="fas fa-plus"></i> Set Planned To Be On Budget</button>
          </div>
          <div class="Budget-List-Item-Row">
            <button id="setPlannedToSpent" style="padding: 0"><i class="fas fa-plus"></i> Set Planned To Spent</button>
          </div>
        </div>

        <div id="Transaction-Container" class="Transactions-List">
          <div class="Transactions-List-Header">
            <div><span id="numTransactions">1</span><span> Transactions</span></div>
            <!-- <button id="addTransaction" style="padding: 0"><i class="fas fa-plus"></i> Add New</button> -->
            <button id="testTransaction" data-bs-toggle="modal" data-bs-target="#transactionModal"><i class="fas fa-plus"></i> Add New</button>

          </div>

          <!-- <div class="Transactions-List-Row">
          <span>Date</span>
          <span>Mortgage</span>
          <span>-$1,300.00</span>
        </div> -->
        </div>



      </div>

      <div class="Plaid-Transaction-Container">
        <div class="Plaid-Transactions">
          <div class="Plaid-Transaction-Header">
            <span>Transactions</span>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-new-tab" data-bs-toggle="pill" data-bs-target="#pills-new" type="button" role="tab" aria-controls="pills-new" aria-selected="true">New</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-tracked-tab" data-bs-toggle="pill" data-bs-target="#pills-tracked" type="button" role="tab" aria-controls="pills-tracked" aria-selected="false">Tracked</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-deleted-tab" data-bs-toggle="pill" data-bs-target="#pills-deleted" type="button" role="tab" aria-controls="pills-deleted" aria-selected="false">Deleted</button>
              </li>
            </ul>


          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
              <!-- <div class="Plaid-Transaction-Row">
                <span>Mar 24</span>
                <span>Wawa</span>
                <span>-$40.00</span>
              </div> -->
            </div>
            <div class="tab-pane fade" id="pills-tracked" role="tabpanel" aria-labelledby="pills-tracked-tab">
              <div class="Plaid-Transaction-Row">
                <span>Mar 21</span>
                <span>Pbx</span>
                <span>-$78.56</span>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-deleted" role="tabpanel" aria-labelledby="pills-deleted-tab">
              <div class="Plaid-Transaction-Row">
                <span>Mar 20</span>
                <span>Walmart</span>
                <span>-$45.81</span>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>


    <!--    Side Nav    -->



  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/jquery.formatCurrency-1.4.0.js"></script>
  <script src="/sidenav.js"></script>
  <script src="https://kit.fontawesome.com/f59cf6c4d5.js" crossorigin="anonymous"></script>
  <!-- <script src="/data.js"></script> -->


  <!-- <script type="module" src="/chart.js"></script> -->

</body>

</html>
