<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>iBudget</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/budgetstyles.css"> -->

  <!-- <link rel="stylesheet" href="css/boxstyles.css"> -->
  <script src="https://kit.fontawesome.com/0edefc6157.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/newstyles.css">
</head>

<body>

  <div class="row">

    <div class="col-lg-3" style="background-color: white">

    </div>

    <div class="col-lg-6">

      <% budget.category.forEach(function(category, index) { %>

      <div class="container mx-auto">
        <% if (!category.name) { %>
        <form action="/editCat" method="post">
          <div class="item"><input class="input-label" type="text" name="catName" value="" placeholder="Untitled" required onChange="this.form.submit()"></input><input type="hidden" name="index" value="<%= index %>"></input><span
              class="header-label">Planned</span><span class="header-label">Received</span>
          </div>
        </form>
        <% } else { %>
        <div class="item"><span class="header-label"><%= category.name %></span><span class="header-label">Planned</span><span class="header-label">Received</span></div>
        <% } %>

        <% category.items.forEach(function(item, itemIndex) { %>

        <form action="/editItem" method="post">
          <div class="item">
            <button type="button" name="button" style="" class="btndel"><i class="far fa-trash-alt"></i></button>
            <input id="<%= item._id %>" class="input-label" type="text" name="itemName" value="<%= item.name %>" placeholder="Enter a name" onChange="this.form.submit()"></input>
            <input type="" name="planned" value="<%= item.planned %>" placeholder="$0.00" onChange="this.form.submit()"></input>
            <input type="hidden" name="itemIndex" value="<%= itemIndex %>"></input>
            <input type="hidden" name="index" value="<%= index %>"></input>
            <span class="span-rem">$0.00</span>
          </div>
        </form>

        <% }) %>

        <form class="item" action="/addItem" method="post">
          <button type="submit" name="button" value="">Add Item</button>
          <input type="hidden" name="index" value="<%= index %>"></input>
        </form>
      </div>

      <% }); %>

      <div class="container mx-auto">
        <form class="item" action="/addCat" method="post">
          <button type="submit" name="button" value="">Add Category</button>
        </form>
      </div>

     </div>  <!-- end of middle column -->

    <!-- right column -->
    <div class="col-lg-3" style="background-color: white">

    </div>

  </div>
  <script type="text/javascript" src="/index.js">

  </script>
</body>

</html>
